<ion-grid *ngIf="charts">
    <div *ngFor="let chart of charts; let i = index">
        <ion-row *ngIf="i%numCol==0">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{ charts[i].title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <pinch-zoom backgroundColor="rgba(0,0,0,0)" [auto-zoom-out]="false" limit-zoom="10" overflow="visible">
                            <google-chart [data]="charts[i].chart" class="chart"></google-chart>
                        </pinch-zoom>
                        <ion-button expand="block" color="primary" (click)="switchShowAnnotationFor(i)">Mostra/Nascondi valori</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
<!--            <ion-col *ngIf="numCol==2 && charts.length > (i+1)">-->
            <ion-col *ngIf="numCol==2">
                <ion-card>
                    <ion-card-header  *ngIf="charts.length > (i+1)">
                        <ion-card-title >{{ charts[i+1].title }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content *ngIf="charts.length > (i+1)" >
                        <pinch-zoom backgroundColor="rgba(0,0,0,0)" [auto-zoom-out]="false" limit-zoom="10" overflow="visible">
                            <google-chart [data]="charts[i+1].chart" class="chart"></google-chart>
                        </pinch-zoom>
                        <ion-button expand="block" color="primary" (click)="switchShowAnnotationFor(i+1)">Mostra/Nascondi valori</ion-button>
                    </ion-card-content>
                    <ion-card-content *ngIf="charts.length <= (i+1)" >

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
</ion-grid>
<ion-card *ngIf="!charts">
    <ion-header>
        <ion-title>Dati non disponibili al momento</ion-title>
    </ion-header>
    <ion-card-content>
        <ion-button expand="block" (click)="refresh()">Clicca qui per aggiornare</ion-button>
    </ion-card-content>
</ion-card>
