<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Riepilogo nazionale al {{ dataAggiornamento }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Riepilogo nazionale al {{ dataAggiornamento }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-dati-essenziali *ngIf="regioni" [data]="regioni[0]"></app-dati-essenziali>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let data of chartData">
        <app-draw-charts [data]="data"></app-draw-charts>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--  <app-draw-charts *ngIf="positiviChartData" [data]="positiviChartData"></app-draw-charts>-->

<!--  <app-draw-charts *ngIf="ospedaliChartData" [data]="ospedaliChartData"></app-draw-charts>-->

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item>
          <ion-label>Tabella riassuntiva</ion-label>
          <ion-button slot="end" fill="outline" (click)="switchContent()"><ion-icon [name]="openIcon"></ion-icon></ion-button>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content [style]="cardContentStyle">
      <ngx-datatable
              class="bootstrap expandable"
              [limit]="22"
              [rows]="regioni"
              rowHeight="auto"
              [columnMode]="'fixed'"
              [sortType]="'multi'"
              headerHeight="auto"
              [scrollbarH]="true">
        <ngx-datatable-column name="regione">
          <ng-template ngx-datatable-header-template>
            <span>Regione</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.denominazione_regione }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="tamponi_su_positivi"  [minWidth]="210" maxWidth="auto" [sortable]="false">
          <ng-template ngx-datatable-header-template>
            <span>Percentuale Positivi/Tamponi</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.percentuale_positivi_tamponi_giornaliera | percent:'1.0-2'}} ({{ row.nuovi_positivi | number}} su {{ row.variazione_tamponi | number}})
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="casi_su_positivi" [minWidth]="210" maxWidth="auto" [sortable]="false">
          <ng-template ngx-datatable-header-template>
            <span>Percentuale Positivi/Casi testati</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.percentuale_positivi_casi_giornaliera | percent:'1.0-2'}} ({{ row.nuovi_positivi | number}} su {{ row.variazione_casi_testati | number}})
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="decessi" [maxWidth]="85">
          <ng-template ngx-datatable-header-template>
            <span>Decessi</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.variazione_deceduti | number }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ti" [maxWidth]="95">
          <ng-template ngx-datatable-header-template>
            <span>Terapia Intensiva</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.variazione_terapia_intensiva | number}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ricoverati" [maxWidth]="110">
          <ng-template ngx-datatable-header-template>
            <span>Ricoverati con Sintomi</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.variazione_ricoverati_con_sintomi | number}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="guariti" [maxWidth]="85">
          <ng-template ngx-datatable-header-template>
            <span>Guariti</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.variazione_dimessi_guariti | number}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="incidenza7g" [maxWidth]="200">
          <ng-template ngx-datatable-header-template>
            <span>Incidenza a 7 giorni / 100.000 ab</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.incidenza_7d | number}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="cfr" [maxWidth]="70">
          <ng-template ngx-datatable-header-template>
            <span>CFR</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.cfr | percent:'1.0-2'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer></ngx-datatable-footer>
      </ngx-datatable>
    </ion-card-content>
  </ion-card>
</ion-content>
