<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Riepilogo regione
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" appSwipe (swipeLeft)="onSwipeLeft($event)" (swipeRight)="onSwipeRight($event)">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Riepilogo regione</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-select *ngIf="listRegioni" [(ngModel)]="selectedRegion" (ionChange)="selectedRegionFn()" [compareWith]="compareFn" placeholder="Seleziona una regione">
      <ion-select-option *ngFor="let regione of listRegioni" [value]="regione.codice_regione"> {{ regione.denominazione_regione }} </ion-select-option>
    </ion-select>
  </ion-item>

  <app-dati-essenziali *ngIf="regioni" [data]="regioni[0]"></app-dati-essenziali>

  <app-grafici [data]="riepilogoRegioni" (clickRefresh)="refresh()" [height]="graphHeight" [viewId]="viewId"></app-grafici>

<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col *ngFor="let data of chartData">-->
<!--        <app-draw-charts [data]="data"></app-draw-charts>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->

</ion-content>
