<ion-list>
  <ion-list-header><h2>Dati riepilogativi {{ data.denominazione_regione }}</h2></ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">Positivi / Tamponi effettuati</ion-label>
          <ion-badge slot="end" color="danger"> {{ data.percentuale_positivi_tamponi_giornaliera | percent:'1.0-2' }} ({{ data.nuovi_positivi | number }} su {{ data.variazione_tamponi | number}}) </ion-badge>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">Positivi / Persone testate</ion-label>
          <ion-badge slot="end" color="danger"> {{ data.percentuale_positivi_casi_giornaliera | percent:'1.0-2' }} ({{ data.nuovi_positivi | number }} su {{ data.variazione_casi_testati | number}}) </ion-badge>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">Decessi</ion-label>
          <ion-badge slot="end" color="danger"> {{ data.variazione_deceduti | number }} </ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">T.I.</ion-label>
          <ion-badge slot="end" color="warning"> {{ data.variazione_terapia_intensiva | number }} </ion-badge>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">Ingressi T.I.</ion-label>
          <ion-badge slot="end" color="warning"> {{ data.ingressi_terapia_intensiva | number }} </ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">Ricoverati</ion-label>
          <ion-badge slot="end" color="warning"> {{ data.variazione_ricoverati_con_sintomi | number }} </ion-badge>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">CFR</ion-label>
          <ion-badge slot="end" color="warning"> {{ data.cfr | percent:'1.0-2' }} </ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">Incidenza a 7 giorni (positivi/100.000 abitanti)</ion-label>
          <ion-badge slot="end" color="tertiary"> {{ data.incidenza_7d | number }} </ion-badge>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">Guariti</ion-label>
          <ion-badge slot="end" color="success"> {{ data.variazione_dimessi_guariti | number }} </ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
