<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-item>
        <ion-label>{{ title }}</ion-label>
        <ion-button slot="end" fill="outline" (click)="switchContent()"><ion-icon [name]="openIcon"></ion-icon></ion-button>
      </ion-item>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content [style]="cardContentStyle">
    <pinch-zoom backgroundColor="rgba(0,0,0,0)" [auto-zoom-out]="false" limit-zoom="10" overflow="visible">
      <canvas #lineCanvas [id]="chartId" style="position: relative; height:20vmin; width:20vmin"></canvas>
    </pinch-zoom>
  </ion-card-content>
</ion-card>
